[Desktop Entry]
Name=Procedure
Comment=Notion wrapper
Comment[it]=Wrapper per Notion 
Exec=procedure %U
Icon=io.github.albeph.Procedure
Terminal=false
Type=Application
Categories=Office;Utility;
MimeType=x-scheme-handler/procedure;
StartupWMClass=io.github.albeph.Procedure
SingleMainWindow=true
Keywords=procedure;notes;workspace;editor;markdown;notion;wrapper;
